
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
backend/.idea/workspace.xml
recommender/src/.DS_Store
.DS_Store
